@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
h1 {
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
}
.label-for-buttons {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
}
